<% include ./header.html %>

<!-- <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width:100%; height:5px"></div>
</div> -->
<div class="container-fluid pl-0">
    <div class="row">
        <% include ./chart/chart.html %>

        <div id = "MainChart" class="container col-10">
            <div class="chart"></div>
        </div>

        <div id="draggable" class="container p-0 overlay ui-widget-content" style="width: auto; height: auto;">
            <li class="list-group-item ripple" id="stock-button" data-toggle="collapse" href="#collapsible-panel">Stock</li>
            
            <div id="collapsible-panel">
                <div class="collapse show">
                    <div id="stock-selector-panel"></div>
                </div>
            </div>
            <div id="stock-details-panel" class="container p-0">
                <h6 id="stock-symbol" class="command-panel-heading card-header border-0 m-1 p-2">Stock Details</h6>
                <div class="container pl-2 pt-1">
                    <h6 id="stock-description" class="badge badge-secondary"></h6>
                    <h6 id="stock-price"></h6>
                    <div id="stock-sentiment">Sentiment</div>
                    <h6 id="stock-last-updated"></h6>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn border-danger text-danger">Sell</button>
                <button class="btn border-success text-success">Buy</button>
            </div>
        </div>

        <div id = "portfolio-display" class = "container col-1">
                <%include ./commandPanel/stock_table.html %>
        </div>

        <div class="col-2 sidebar p-0 border">
            <%include ./commandPanel/stockSelectorPanel.html %>
        </div>

    </div>
</div>
<!-- <div class="container col-3 float-right">

</div> 
-->

