<div id="stock-widget" class="container p-0 overlay ui-widget-content" style="width: auto; height: auto;">
    <button class="container ripple" id="stock-button" data-toggle="collapse" href="#collapsible-panel">Stock</button>
    
    <div id="collapsible-panel" class="collapse">
        <div id="stock-selector-panel"></div>
    </div>

    <div id="stock-details-panel" class="container p-0">
        <h6 id="stock-symbol" class="command-panel-heading card-header border-0 m-1 p-2">Stock Details</h6>
        <div class="container pl-2 pt-1">
            <h6 id="stock-description" class="badge badge-secondary"></h6>
            <h6 id="stock-price"></h6>
            <div id="stock-sentiment">Sentiment</div>
            <h6 id="stock-last-updated"></h6>
        </div>
    </div>
    <div class="btn-group">
        <button class="btn border-danger text-danger">Sell</button>
        <button class="btn border-success text-success">Buy</button>
    </div>
</div>

<script>   
    let stocks = ['AAPL', 'TSLA', 'MSFT', 'FB', 'AMZN', 'GOOGL', 'JPM', 'GS']

    function renderPageForStock(stock = stocks[0]) {
        setStockSelectorButtonText(stock)
        renderDetailsPanel(stock)
        renderStockTweets(stock)
        renderChart(stock)
        renderStockNews(stock)
    }

    function renderDetailsPanel(stock) {
        fetch(`/stock/info/${stock}`)
            .then( response => response.json() )
            .then( data => {
                document.getElementById('stock-symbol').textContent       = data.name    
                document.getElementById('stock-description').textContent  = 'Stock'
                document.getElementById('stock-price').textContent        = data.price      
                document.getElementById('stock-sentiment').textContent    = data.sentiment
                document.getElementById('stock-last-updated').textContent = data.last_updated
            })
    }

    function renderStockSelectorPanel() {
        var stockSelectorPanelHtml = '',
            stock,
            i

        for (i = 0; i < stocks.length; i++) {  
            stock = stocks[i]

            stockSelectorPanelHtml += `
                <a id="${stock}" href="#" onclick="renderPageForStock(this.id)" class="stock-selector-button dropdown-item border-0">${stock}</a>
            `
        }

        document.getElementById('stock-selector-panel').innerHTML = stockSelectorPanelHtml
    }

    function renderStockTweets(stock) {

        fetch(`http://localhost:3000/stock/tweets/${stock}`)
            .then( response => response.json() )
            .then( tweets => {
            tweetsPanelHtml = ''

                for (var i = 0; i < tweets.length; i++) {
                    tweetsPanelHtml += `
                    <div class="row tweet">
                        <div class="col tweet border-bottom">
                            <p class="tweet-text">${tweets[i].text}</p>
                            <p class="float-right">
                                <font class="tweeter-info">
                                    by <a href="${tweets[i].url}">${tweets[i].user}</a> ESMTwits
                                </font>
                            </p>
                        </div>                     
                    </div>
                    `
                }

                document.getElementById('tweetsPanel').innerHTML = tweetsPanelHtml
            })
    }
    
    function renderStockNews(stock) {

        fetch(`http://localhost:3000/stock/news/${stock}`)
            .then(response => response.json())
            .then( news => {
                newsPanelHtml = ''

                for (var i = 0; i < news.length; i++) {
                    newsPanelHtml += `
                    <div class="row tweet">
                        <div class="col tweet border-bottom">
                            <p class="tweet-text"><a href="${news[i].url}">${news[i].title}</a></p>
                            <p class="float-right">
                                <font class="tweeter-info">
                                    Published on ${news[i].publish_date} by <a href="${news[i].url}">${news[i].source}</a>
                                </font>
                            </p>
                        </div>                     
                    </div>
                    `
                }

                document.getElementById('newsPanel').innerHTML = newsPanelHtml
            })
    }

    function setStockSelectorButtonText(text) {
        document.getElementById('stock-button')
    }

    renderStockSelectorPanel()
    renderPageForStock()

</script> 