/* @media (min-width: 1200px) {
    .container-fluid{
		max-width: 100%;
		float: left;
    }
} */

.container {
	padding: 5px;
}

#MainChart {
	height: 100%;
	max-width: 100%;
	margin: 0 auto;
}

#profile {
	padding: 10px;
}

#panel {
    
}