/* @media (min-width: 1200px) {
    .container-fluid{
		max-width: 100%;
		float: left;
    }
} */

#MainChart {
	height: 100%;
	max-width: 100%;
	margin: 0;
}

.scrollable{
  overflow-y: auto;
  max-height: 50%;
}

.sidebar {
	height: 100%;
  padding-top: 20px;
  overflow:auto;
}

.card-text {
	color: grey;
	font-size: 11;
}

.command-panel-heading {
	font-size: 12;
	background: rgb(238, 239, 240);
	color: rgb(100, 100, 100);
}

#stock-selector-panel {}

#stock-selector-panel-header {
	height: 3%;
	font-size: 11;
}

#stock-selector-panel-body {
	height: 25%;
	border: 0px;
}

.stock-selector-button {
	font-size: 12;
}

#stock-details-panel {
	height: 20%;
	overflow: auto;
}

#tweetsPanel {
  height: 40%;
}

.row.tweet:hover {
	background: rgb(196, 232, 255);
}

.row.tweet {
	padding: 0px;
}

.col.tweet {
	padding-top: 5px;
	padding-left: 20px;
}

.tweet-text {
	font-size: 11;
	color: black;
}

.tweeter-info {
	padding: 0px;
	color: grey;
	font-size: 9;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50px;
	left: 50px;
	color: red;
	font-size: 40px;
	z-index: 10;
}

.tiny {
	font-size: 9
}

.base {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-news{
	background-color: #26A69A;
	color: white;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 200px;
	height: 40px;
}

.btn-news:hover{
	background-color: #00695C
}

.btn-news-active{
	background-color: #00695C;
	color: white;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 200px;
	height: 40px;
}

.circle {
  width: 35%;
  position: relative;
  padding-top: 10px;
  -webkit-filter: drop-shadow(5px 5px 5px grey);
  filter: drop-shadow(5px 5px 5px grey);
  left: 32%;
  border-radius: 50%;
  overflow: hidden;
}

.card{
  -webkit-filter: drop-shadow(3px 3px 3px lightgrey);
  filter: drop-shadow(3px 3px 3px lightgrey);
}


.profile-card-text {
  font-size: 13px;
  color: black;
  padding-left: 20px !important;
}

.profile-card-header {
  font-size: 15px;
  color: black;
  background-color: #e3f2fd !important;
  padding-left: 20px !important;
}

.card-title-2 {
  color: #2D354A;
  font-size: 20px !important;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
	font-family: 'Helvetica', sans-serif !important;
	font-size: 100%;
}

.profile-button {
  color: #2D354A;
  font-size: 15px !important;
  font-weight: 500 !important;
  letter-spacing: 0.5px;
  text-align: left;
	font-family: 'Helvetica', sans-serif;
	font-size: 100%;
}

.profile-button:hover{
  background-color: #f6f9fb !important;
}

.profile-button-active {
  font-size: 15px !important;
  color: #5b9bd1;
  font-weight: 1000 !important;
  background-color: #f6f9fb !important;
  border-left: 6px solid #5b9bd1 !important;
  margin-left: -2px;
}

