<script>
</script>
<table class = 'table'>
    <thead>
        <tr>
            <th scope = "col">Stock Name</th>
            <th scope = "col">Quantity Bought</th>
            <th scope = "col">Cost</th>
            <th scope = "col">Date Bought</th>
        </tr>
    </thead>

    <tbody id = 'stock_table'>
    </tbody>
</table>

<script>
function renderPortfolio(user) {

    console.log('123');

    fetch(`http://localhost:3000/portfolio/${user}`)
    .then(response=>response.json())
    .then(portfolio=> {
        var portfolioHtml = '';

        console.log(portfolio);

        for(var i = 0; i < portfolio.length; i++) {
            portfolioHtml += `
                <tr>
                    <td>${portfolio[i].stockname}</td>
                    <td>${portfolio[i].quantity}</td>
                    <td>${portfolio[i].buy_price}</td>
                    <td>${portfolio[i].date_bought}</td>
                </tr>
            `
        }
        document.getElementById('stock_table').innerHTML = portfolioHtml;   
    })
     
}

renderPortfolio('apple');
</script>