<script>
    
    function renderChart(stock) {
        Highcharts.stockChart('MainChart', {

            plotOptions: {
            candlestick : {
                    lineColor: 'grey',
                    color: 'salmon',
                    upColor: 'lightgreen'
                }
            },

            chart: {
                events: {
                    load: function () {

                        let priceSeries  = this.series[0]
                        let volumeSeries = this.series[1]
                        
                        setInterval(function () {

                            fetch(`http://localhost:5000/stocks/${stock}`)
                                .then( response => response.json() )
                                .then( data => {
                                    var x = (new Date()).getTime(), // current time
                                        y = data.price

                                    priceSeries.addPoint([x, y, y + 10, y - 10, y], true, true);
                                    volumeSeries.addPoint([x, y, y + 10, y - 10, y], true, true);
                                })

                        }, 1000);
                    }
                },
            },

            title: {
                text: stock
            },

            yAxis: [{
            labels: {
                align: 'left'
            },
            height: '80%',
            resize: {
                enabled: true
            }
            }, {
            labels: {
                align: 'left'
            },
            top: '80%',
            height: '20%',
            offset: 0
            }],

            tooltip: {
            shape: 'square',
            headerShape: 'callout',
            borderWidth: 0,
            shadow: false,
            positioner: function (width, height, point) {
                var chart = this.chart,
                position;

                if (point.isHeader) {
                position = {
                    x: Math.max(
                    // Left side limit
                    chart.plotLeft,
                    Math.min(
                        point.plotX + chart.plotLeft - width / 2,
                        // Right side limit
                        chart.chartWidth - width - chart.marginRight
                    )
                    ),
                    y: point.plotY
                };
                } else {
                position = {
                    x: point.series.chart.plotLeft,
                    y: point.series.yAxis.top - chart.plotTop
                };
                }

                return position;
            }
            },
            
            series: [{
            type: 'candlestick',
            id: `${stock}-ohlc`,
            name: `${stock} Stock Price`,
            data: (function () {
                // generate an array of random data
                var data = [],
                    time = (new Date()).getTime(),
                    i;

                for (i = -999; i <= 0; i += 1) {
                var r = Math.random()
                    var n = Math.round(Math.random() * 100 + (Math.random() < 0.5 ? r : -r) * 10) + (Math.random() * i)
                    data.push([
                        time + i * 1000,
                        n,
                        n + 10,
                        n - 10,
                        n
                    ]);
                }
                return data;
            }())
            }, {
            type: 'area',
            id: `${stock}-volume`,
            name: `{stock} Volume`,
            data: (function () {
                // generate an array of random data
                var data = [],
                    time = (new Date()).getTime(),
                    i;

                for (i = -999; i <= 0; i += 1) {
                var r = Math.random()
                var n = Math.round(Math.random() * 100)
                    data.push([
                        time + i * 1000,
                        n,
                        n + 10,
                        n - 10,
                        n
                    ]);
                }
                return data;
            }()),
            yAxis: 1
            }],
            responsive: {
            rules: [{
                condition: {
                maxWidth: 800
                },
                chartOptions: {
                rangeSelector: {
                    inputEnabled: false
                }
                }
            }]
            }
        });
    }

</script>