<!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
        <a href="#!">
        <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    
    <!-- Card content -->
    <div class="card-body">
    
        <!-- Title -->
        <h3><%= username %> <span class="badge badge-success float-right">$<%= userBalance %></span></h3>
    </div>
</div>
