<div id="stockCardPanel">
</div>
<script>

    var stockPrices = new Map()
    
    fetch('http://localhost:5000/stocks', { headers: { 'x-apikey': 'appletanKEY' }})
        .then( response => response.json() )
        .then( data => {

            stockCardPanelHtml = ''
            counter = 0

            for (var i = 0; i < data.length; i++) {

                if (counter == 3) {
                    counter = 0
                    stockCardPanelHtml += '</div>'
                }

                if (counter == 0) {
                    stockCardPanelHtml += '<div class="row">'
                }

                var { ticker, price } = data[i]

                stockCardPanelHtml += `
                <div class="col">
                    <div id="stockcard-${ticker}" class="card bg-light mb-3">
                        <div class="card-body">
                            <h5 class="card-title">${ ticker }</h5>
                            <p id="stockcard-${ticker}-price" class="card-text">$${ price }</p>
                        </div>
                    </div>
                </div>
                `
                counter++
            }

            document.getElementById('stockCardPanel').innerHTML = stockCardPanelHtml
        })
        .then( () => {

            setInterval(function() {

                fetch('http://localhost:5000/stocks', { headers: { 'x-apikey': 'appletanKEY' } })
                    .then( response => response.json() )
                    .then( data => {

                        for (var i = 0; i < data.length; i++) {
                            
                            var { ticker, price } = data[i]

                            stockCardId = 'stockcard-' + ticker

                            prevStockPrice = stockPrices.get(stockCardId) || price

                            if (price >= prevStockPrice) {
                                bootstrapClass = 'card text-white bg-success mb-3'
                            } else {
                                bootstrapClass = 'card text-white bg-danger mb-3'
                            }

                            stockPrices.set(stockCardId, price)

                            stockCardPrice = stockCardId + '-price'

                            document.getElementById(stockCardId).setAttribute('class', bootstrapClass)
                            document.getElementById(stockCardPrice).innerText = '$' + price
                        }

                        console.log(stockPrices)
                    })

            }, 5000)
        })
</script>
<!-- 
<% var counter = 0 %>

<% for(var i = 0; i < stocks.length; i++) { %>

    <% if (counter == 3) { %>
        <% counter = 0 %>
        </div>
    <% } %>

    <% if (counter == 0) { %>
        <div class="row">
    <% } %> 

    <div class="col">
        <div class="card border-success mb-3">
            <div class="card-body text-success">
                <h5 class="card-title"><%= stocks[i].ticker %></h5>
                <p class="card-text"><%= stocks[i].price %></p>
            </div>
        </div>
    </div>
    <% counter++ %>
<% } %> -->
