<div class="container m-0 p-0">
    <div>
        <img class="circle" src="/images/eli_face.jpg" alt="Card image cap">
    </div> 
    <div id = 'clientDetails.userDetails'>
    </div>
    <!-- <button class="btn btn-success">Transfer</button> -->
    <div id = "bank-details"></div>
</div>

    

<script>
function getUserDetails() {
        fetch(`http://localhost:3000/client_details/`)
        .then(response=>response.json())
        .then(clientDetails=> {
            var userHtml = '';
            userHtml += `
            <h5 class="card-title-2" style = "padding-top:8px">${clientDetails.userDetails.fullName}</h5>
            `
            document.getElementById('clientDetails.userDetails').innerHTML = userHtml;   

            var bankHtml = '';
            bankHtml = `
            <table class = "table table-sm">
                <tr>
                    <th class = "profile-card-header balance-header">Account Details:</th>
                </tr>

                <tr>
                    <td class = "profile-card-text">${clientDetails.userDetails.payeeId}</td>
                </tr>
                
                <tr>
                    <th class = "profile-card-header balance-header">Balance:</th>
                </tr>

                <tr>
                    <td class = "profile-card-text">$${clientDetails.userDetails.balance}</td>
                </tr>

            </table>
            `
            
            document.getElementById('bank-details').innerHTML = bankHtml;
        })
    }

    getUserDetails();
</script>