<div class="card border-0">
    <div>
        <img class="circle" src="/images/eli_face.jpg" alt="Card image cap">
    </div> 
    <div id = 'userDetails'>
    </div>
 
    <div id = "bank-details"></div>
</div>

    

<script>
function getUserDetails(username) {
        fetch(`http://localhost:3000/client_details/${username}`)
        .then(response=>response.json())
        .then(userDetails=> {
            var userHtml = '';
            userHtml += `
            <h5 class="card-title-2" style = "padding-top:8px">${userDetails[0].name}</h5>
            `
            document.getElementById('userDetails').innerHTML = userHtml;   

            var bankHtml = '';
            bankHtml = `
            <table class = "table table-sm">
                <tr>
                    <th class = "profile-card-header balance-header">Account Details:</th>
                </tr>

                <tr>
                    <td class = "profile-card-text">${userDetails[0].payeeId}</td>
                </tr>
                
                <tr>
                    <th class = "profile-card-header balance-header">Balance:</th>
                </tr>

                <tr>
                    <td class = "profile-card-text">$${userDetails[0].bal}</td>
                </tr>

            </table>
            `
            
            document.getElementById('bank-details').innerHTML = bankHtml;
        })
    }

    getUserDetails("orange");
</script>